:root{
    --green-color: #5bb034;
    --gray-color: #97a4b1;
}   


body{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
  }

  .logo img{
    width: 180px; 
    height:55px;
  }
  
  .logo p{
    margin: 5px;
    width: 200px;
    text-align: center;
    color: var(--gray-color);
    font-size: 14px;
    line-height: 20px;
  }
  
  .menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
  }
  
  .menu ul{
    margin: 10px;
    padding: 0px 20px;
  }
  
  .menu li{
    list-style: none;
    text-align: center;
  }
  
  .menu a{
    text-decoration: none;
    color: var(--gray-color);
    font-size: 17px;
  }

  .menu a:hover{
      color: black;
  }

.first-section{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,85px);
}


.first-section h1{
    grid-column: 3/span 8;
    grid-row: 2;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 5px;
    text-align: center;
}

.first-section p{
    grid-column: 5/span 4;
    grid-row: 3;
    font-size: 15px;
    color: var(--gray-color);
    text-align: center;
    margin: 0;
}

.inputs{
    grid-column: 5/span 4;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

form .user{
    background: var(--gray-color);
    padding: 10px 20px;
    border:none;
    color: white;
    margin: 10px;
    border-radius: 2px;
}

form .log-in{
    background: var(--green-color);
    padding: 10px 40px;
    border: none;
    color: white;
    margin: 10px;
    border-radius: 2px;
} 

.second-section{
    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(7,65px);
    background: slateblue;
}

.second-section h1{
    grid-column: 3;
    grid-row: 2;
    color: white;
    font-weight: lighter;
    
}

.second-section .paragraph-1{
    grid-column: 3/span 5;
    grid-row: 3;
}
.second-section .paragraph-2{
    grid-column: 3/span 5;
    grid-row: 4;
}

.second-section .paragraph-1,
.second-section .paragraph-2{
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: 0;
    text-align: justify;
}

.second-section form{
    grid-column: 3;
    grid-row: 5;
    display: flex;
    align-items: flex-end;
}

.second-section form button{
    padding: 13px 40px;
    color: white;
    background: var(--green-color);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}  


.third-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #ffffff;
    padding: 50px 0 50px 90px;
}

.works-container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    width: 50%;
}

.works-container h1{
    font-weight: lighter;
    font-size: 30px;
}

.works-container p{
    color: var(--gray-color);
    font-size: 15px;
    font-weight: lighter;
    text-align: justify;
}

.computer{
    display: flex;
    justify-content: center;
    margin: 0;
    width: 30%;
}

.computer img{
    max-width: 100%;
}

.environment{
    background: #f7efef;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 40px 250px;
}


.environment img{
    width: 61px;
    height: 62px;
}

.environment h1{
    font-size: 30px;
    font-weight: lighter;
    text-transform: capitalize;
}

.environment p{
    font-size: 15px;
    color: var(--gray-color);
    margin: 30px;
    text-align: justify;
}

.testimonies{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px 1fr;
    position: relative;
}
 
.slider{
    overflow: hidden;
    position: relative;
}
.slider .slider-figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    height: 100%;
}

.slider .slider-figure .slider-container{
    width: 20%;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes slider {
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%; 
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
.slider-container h1{
    color: white;
    font-size: 37px;
    font-weight: lighter;
    margin-top: 0;
}

.slider-container h2{
    color: white;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 0;
}

.slider-container p{
    color: white;
    font-size: 16px;
    font-weight: lighter;
    width: 400px;
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 18px;
}

.slider-container:nth-of-type(1){
    background: palegreen;
}
.slider-container:nth-of-type(2){
    background: plum;
}

.slider-container:nth-of-type(3){
    background: peru;
}

.slider-container:nth-of-type(4){
    background: skyblue;
}
.slider-container:nth-of-type(5){
    background: palegreen;
}



.help{
    grid-column: 2;
    background: var(--green-color);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.help h1{
    display: grid;
    grid-column: 2/span 5;
    grid-row: 2;
    margin: 0;
    justify-content: center;
    align-items: flex-end;
    font-size: 35px;
    color: white;
    font-weight: lighter;
}

.help h3{
    display: grid;
    grid-column: 3/span 3;
    grid-row: 3/span 2;
    font-weight: lighter;
    align-items: flex-end;
    text-align: center;
    font-size: 17px;
    color: white;
    margin: 0;
}

.help .email{
    display: grid;
    grid-column: 3/span 3;
    grid-row: 5;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: flex-end;
}

.email li,
.email a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.clientes{
    background: #fcfefc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.clientes h1{
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: 30px;
}

.img-clientes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}  

.img-clientes img{
    margin: 20px;
}

.insured {
    display: flex;
    justify-content: center;
    box-shadow: 3px 16px 20px 0px;
    border: none;
}

.insured img{
    padding: 20px;
}   

    @media screen and (max-width: 1440px){

    }


    @media screen and (max-width: 1023px){

        .inputs{
            grid-column: 4/span 6;
        }
        .menu ul{
            padding: 0;
        }
        .first-section p{
            grid-column: 4/span 6;
        }
        .second-section {
            grid-template-columns: repeat(12,1fr);
        }
        .second-section .paragraph-1{
            grid-column: 3/ span 6;
        }
        .second-section .paragraph-2{
            grid-column: 3/ span 6;
        }
        .environment{
            padding: 40px 140px;
        }
        .environment p{
            margin: 30px 13px;
        }
        .help h1{
            grid-column: 1/span 7;
            align-items: center;
        }


    }
    
    
    @media screen and (max-width: 767px){

        .menu ul{
            padding: 0px 10px;
        }
        .first-section p{
            grid-column: 3/span 8;
            grid-row: 3;
        }
        .first-section .inputs{
            grid-column: 3/span 8;
        }
        .second-section h1{
            grid-column: 5/span 4;
            text-align: center;
        }
        .second-section .paragraph-1{
            grid-column: 3/span 8;
            grid-row: 3/span 2;
        }
        .second-section .paragraph-2{
            grid-column: 3/span 8;
            grid-row: 5;
        }
        .second-section form{
            grid-row: 6;
            grid-column: 5/span 4;
            display: flex;
            justify-content: center;
        }
        .third-section{
            justify-content: center;
            padding: 0;
            flex-direction: column;
        }
        .works-container{
            justify-content: center;
        }
        .world {
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .environment{
            padding: 40px 60px;
        }
        .help h3{
            grid-row: 3/span 2;
            align-items: center;
            margin: 60px 0 0 0 ;
        }
        .help .email{
            align-items: flex-start;
            grid-row: 6;
        }
        .testimonies{
            display: flex;
            flex-direction: column;
        }
        .slider .slider-figure .slider-container{
            padding: 50px 0;
        }
        
    }
    
    
    @media screen and (max-width: 479px){

        .menu ul {
            padding: 2px;
        }
        .first-section h1{
            grid-column: 2/span 10;
            font-size: 23px;
        }
        .first-section p{
            grid-column: 2/span 10;
            font-size: 13px;
        }
        .first-section .inputs {
            grid-column: 1/span 12;
        }
        .second-section{
            text-align: center;
        }
        .second-section h1{
            grid-column: 4/span 6;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center 
        }
        .second-section .paragraph-1{
            grid-column: 3/span 8;
            margin-bottom: 10px;
            font-size: 13px;
        }
        .second-section .paragraph-2{
            grid-column: 3/span 8;
            font-size: 13px;
        }
        .second-section form{
            grid-column: 3/span 8;
            display: flex;
            justify-content: center;
        }
        .third-section{
            justify-content: center;
            padding: 0;
            flex-direction: column;
        }
        
        .works-container h1{
            font-size: 19px;
            padding: 40px 0 15px 0;
            margin: 0;
        }
        .works-container p{
            font-size: 13px;
        }
        .environment {
            padding: 40px 0;
        }
        .environment h1{
            font-size: 25px;
        }
        .environment p{
            font-size: 13px;
            margin: 30px 70px;
        }
        .slider-container h1{
            font-size: 30px;
        }
        .slider-container h2{
            font-size: 18px;
        }
        .slider-container p{
            width: initial;
            padding-right: 20px;
            padding-left: 20px;
            font-size: 14px;
        }
        .help{
            grid-template-rows: repeat(3, 1fr);
        }
        .help h1{
            grid-row: 1;
            font-size: 30px;
        }
        .help h3{
            grid-row: 2;
            margin: 15px 0;
        }
        .help .email{
            grid-row: 3;
            align-items: center;
        }
    }
    
    @media screen and (max-width: 319px){

        .menu ul {
            padding: 0px 45px;
            margin: 15px;
        }
        .first-section{
            grid-template-rows: repeat(6,96px);
        }
        .first-section p{
            grid-column: 3/span 8;
            text-align: justify;
        }
        .first-section .inputs {
            grid-row: 4;
            align-items: flex-end;
        }
        .inputs .user{
            padding: 10px 15px;
            margin: 0 10px;
        }
        .inputs .log-in{
            padding: 10px 35px;
            margin: 0 10px;
        }
        .environment h1{
            font-size: 20px;
        }
        .help h1{
            font-size: 28px;
        }
        .help h3{
            margin: 0;
        }
        .clientes h1{
            font-size: 26px;
        }
    }
