:root{
    --green-color: #5bb034;
    --gray-color: #97a4b1;
}   


body{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    padding: 20px;
  }
  
  .logo p{
    margin: 5px;
    width: 200px;
    text-align: center;
    color: var(--gray-color);
    font-size: 14px;
    line-height: 20px;
  }
  
  .menu{
    display: flex;
    justify-content: center;
    width: 900px;
  }
  
  .menu ul{
    margin: 10px 10px;
    padding: 0px 20px;
  }
  
  .menu li{
    list-style: none;
  }
  
  .menu a{
    text-decoration: none;
    color: var(--gray-color);
    font-size: 17px;
  }

  .menu a:hover{
      color: black;
  }

.first-container{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: 400px;
    grid-gap: 15px;
    padding-top: 100px;
    padding-bottom: 150px;
}

.first-container h1{
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 5px;
}

.first-container p{
    font-size: 15px;
    color: var(--gray-color);
}

.inputs{
    display: flex;
    justify-content: center;
}

form .user{
    background: var(--gray-color);
    padding: 10px 20px;
    border:none;
    color: white;
    margin: 10px;
    border-radius: 2px;
}

form .log-in{
    background: var(--green-color);
    padding: 10px 40px;
    border: none;
    color: white;
    margin: 10px;
    border-radius: 2px;
}

.second-section{
    display: grid;
    align-items: center;
    background: lightslategray;
    height: 430px;
}

.container{
    display: grid;
    grid-template-columns: 500px;
    justify-content: start;
    grid-gap: 30px;
    padding-left: 150px;
}

.container h1{
    display: grid;
    margin: 0;
    color: white;
    font-weight: lighter;

}

.container p{
    display: grid;
    margin: 0;
    color: white;
    font-size: 15px;
}

form button{
    margin-top: 20px;
    padding: 13px 40px;
    color: white;
    background: var(--green-color);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}


.third-section{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.works-container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    width: 50%;
}

.works-container h1{
    font-weight: lighter;
    font-size: 30px;
}

.works-container p{
    color: var(--gray-color);
    font-size: 15px;
    font-weight: lighter;
}

.computer{
    display: flex;
    justify-content: center;
    margin: 0;
    width: 30%;
}

.computer img{
    max-width: 100%;
}

.environment{
    background: #f7efef;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.world{
    text-align: center;
}

.world img{
    width: 61px;
    height: 62px;
}

.world h1{
    font-size: 30px;
    font-weight: lighter;
    text-transform: capitalize;
    margin-top: 0;
}

.world .text{
    width: 680px;
    height: 165px;
}

.world p{
    font-size: 15px;
    color: var(--gray-color);
    margin: 30px;
}

.testimonies{
    background: rgb(197, 128, 96);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px 1fr;
}

.slideshow{
    height: 450px;
    width: 675px;
    overflow: hidden;
}
.cen{
    position: absolute;
}

.change{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.change .tool-1,
.change .tool-2,
.change .tool-3,
.change .tool-4,
.change .tool-5{
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 5px 20px;
}

.tool-1:hover,
.tool-2:hover,
.tool-3:hover,
.tool-4:hover,
.tool-5:hover{
    background: #fff;
}

input[name="p"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    height: 100%;
    width: 500%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slide h1{
    color: white;
    font-size: 37px;
    font-weight: lighter;
    margin-top: 0;
}

.slide h2{
    color: white;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 0;
}

.slide p{
    color: white;
    font-size: 16px;
    font-weight: lighter;
    width: 400px;
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 18px;
}

.slide:nth-of-type(2){
    background: plum;
}

.slide:nth-of-type(3){
    background: peru;
}

.slide:nth-of-type(4){
    background: skyblue;
}

.slide:nth-of-type(5){
    background: silver;
}

#c1:checked ~ .pc1{
    margin-left: 0%;
}

#c2:checked ~ .pc1{
    margin-left: -20%;
}

#c3:checked ~ .pc1{
    margin-left: -40%;
}

#c4:checked ~ .pc1{
    margin-left: -60%;
}

#c5:checked ~ .pc1{
    margin-left: -80%;
}

.help{
    background: var(--green-color);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
}

.help h1{
    display: grid;
    grid-column: 2/span 5;
    margin: 0;
    justify-content: center;
    align-items: flex-end;
    font-size: 35px;
    color: white;
    font-weight: lighter;
}

.help h3{
    display: grid;
    grid-column: 3/span 3;
    font-weight: lighter;
    align-items: flex-end;
    text-align: center;
    margin-bottom: 0;
    font-size: 17px;
    color: white;
}

.help .email{
    display: grid;
    grid-column: 3/span 3;
    padding-left: 0;
    justify-content: center;
    align-items: center;
}

.email li,
.email a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 18px;
}  

.clientes{
    background: #fcfefc;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clientes h1{
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: 30px;
}

.img-clientes img{
    margin: 20px;
}

.insured {
    display: flex;
    justify-content: center;
    box-shadow: 3px 16px 20px 0px;
    border: none;
}

.insured img{
    padding: 20px;
}